Q1.

Values: 'hello', -87.8, 6
Expressions: none.

Q2.

String is a datatype for characters and variable is a name given to data we want to store that can be string, integer, float values etc

In [18]:
a= "shalu" # here a is variable that stores string

Q3.

a.int: Datatype for integers.

In [19]:
a = 5

b.Dictionary: Datatype for key and value pair.

In [20]:
a = {'a':1,'b':2,'c':3}

c. list: Datatype for list of values that can be integer, string, dictionary.

In [21]:
a=[1,"shalu",6+5j]

Q4.

Expressions by combining objects and operators.
They perform some sort of computation

In [22]:
a = 4+5 
a= !True

Q5.

An expression evaluates to a value. A statement does something. Statements represent an action or command e.g print statements, assignment statements. Expression is a combination of variables, operations and values that yields a result value.

In [23]:
spam = 10             #statement
spam = 10*10          #expression

Q6.

In [24]:
bacon = 22
bacon+1
bacon

22

Q7.

In [25]:
'spam'+'spamspam'

'spamspamspam'

In [26]:
'spam'*3

'spamspamspam'

Q8.

There are certain rules in python to define a variable.
1. letters, numbers and underscore can be used for writing variable names in Python. 
   For example, eggs,num,num_1,num1 etc 
2. A variable name must start with a letter or underscore. 
3. A python variable name cannot start with a number. 
   For example,100 is invalid variable name. But eggs9 is valid variable names in Python.
Variable Names are case-sensitive. It means that pay, PAY and Pay are three different variable names.
Whitespace is not allowed in a variable name. Therefore, if we write ‘first name’ ,it will be an invalid variable name. ...
Special characters are not allowed in a variable name. For example pay@ is invalid variable name.
Reserved words are not allowed as variable names.
For example for is inavalid variable name, beacause for is a reserved word in Python. It represents a loop.

Q9.

In [27]:
a = 5555.345

In [28]:
int(a)

5555

In [29]:
float(a)

5555.345

In [30]:
str(a)

'5555.345'

Q10.

We cannot add different datatypes.
'I have eaten'+99+"burritos"
We cannot add string and integer.
We can fix this by converting int to string.

In [31]:
'I have eaten'+ " 99 " +"burritos"

'I have eaten 99 burritos'